extends layout

block content
    <div class="form-style-5">
    h1= announcement
    h3= subTitle
    <form action='/holidays' method='POST'>
    <fieldset>
    <legend><span class="number">1</span> Github user name</legend>
    <input type="text" name="userName" placeholder="Your Name *">
    </fieldset>
    <input type="submit" value="Apply" />
    </form>
    </div>